<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard - WhatsApp Gateway</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<link rel="stylesheet" href="/assets/css/main/app.css" />
		<link rel="stylesheet" href="/assets/css/main/app-dark.css" />
		<link rel="shortcut icon" href="/assets/images/logo/favicon.svg" type="image/x-icon" />
		<link rel="shortcut icon" href="/assets/images/logo/favicon.png" type="image/png" />
		<link rel="stylesheet" href="/assets/css/shared/iconly.css" />
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<link rel="stylesheet" href="/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css" />
		<link rel="stylesheet" href="/assets/css/pages/datatables.css" />

		<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
	</head>

	<body>
		<div id="app">
			<%- include('sidebar') %>
			<header class="mb-3">
				<a href="#" class="burger-btn d-block d-xl-none">
					<i class="bi bi-justify fs-3"></i>
				</a>
			</header>
			<div id="main"><%- body %></div>
		</div>

		<script src="/assets/js/bootstrap.js"></script>
		<script src="/assets/js/app.js"></script>
	</body>
</html>
